p {
  color: rgb(125, 125, 185);
}
h1 {
  color: gold;
  font-style: italic;
}

nav {
  margin-top: 1.4em;
  position: absolute;
  right: 2em;
}
nav a {
  border: inset;
  border-radius: 1em;
  padding: 0.3em;
  font-family: "Courier New", Courier, monospace;
  color: silver;
  text-decoration: none;
}
.actual {
  color: white;
  background-color: silver;
}
main {
  position: absolute;
  top: 5em;
  text-align: center;
  min-width: 55%;
  padding: 0em 3em;
  border-left: solid rgb(204, 201, 201);
  border-right: solid rgb(204, 201, 201);
  left: 20%;
  right: 20%;
  box-sizing: border-box;
}
.title-format-p {
  font-size: medium;
  font-style: italic;
}

footer {
  text-align: center;
  background-color: slategrey;
  position: relative;
  top: 180em;
  width: 100%;
}
