p {
  color: rgb(125, 125, 185);
}
h1 {
  color: gold;
  font-style: italic;
}
a {
  outline-style: double;
  padding: 0.7em;
}

nav {
  margin-top: 1.4em;
  position: absolute;
  right: 2em;
}
section {
  position: absolute;
  top: 5em;
  text-align: center;
  min-width: 100%;
}
